strict-ssl=false
@angular=http://registry.npmjs.org/
@angular-cli=http://registry.npmjs.org/
@ngtools=http://registry.npmjs.org/
@types=http://registry.npmjs.org/
@lodash=http://registry.npmjs.org/
@webdriver-manager=http://registry.npmjs.org/
@angular-devkit=http://registry.npmjs.org/
@schematics=http://registry.npmjs.org/
@sindresorhus=http://registry.npmjs.org/
@webassemblyjs=http://registry.npmjs.org/
@webpack-contrib=http://registry.npmjs.org/
