<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-th" aria-hidden="false"></i>
        <span translate>Dashboards</span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu container-fluid dashboard-selection-dropdown" aria-labelledby="dropdownMenu1">
        <div class="dropdown-header" ng-if="$ctrl.dashboards.length === 0" style="cursor: default" translate>
            No dashboards have been saved. Click below to save the current dashboard.
        </div>
        <div ng-repeat="dashboard in $ctrl.dashboards | orderBy:'-creationDate' track by $index"
             uib-tooltip="{{dashboard.description}}" tooltip-placement="bottom" class="row">
            <div class="dashboard-name" ng-click="$ctrl.applyDashboard(dashboard.name)">
                <table>{{dashboard.name}}</table>
            </div>
            <div class="creation-date" ng-click="$ctrl.applyDashboard(dashboard.name)">{{dashboard.creationDate | date: 'dd/MM/yyyy HH:mm'}}</div>
            <div class="icon-container show-on-parent-hover">
                <span ng-click="$ctrl.applyDashboard(dashboard.name)" class="fa fa-check fa-lg"></span>
                <span ng-click="$ctrl.deleteDashboard(dashboard.name)" class="fa fa-trash-o fa-lg"></span>
            </div>
        </div>
        <div ng-if="$ctrl.dashboards.length > 0" role="separator" class="divider"></div>
        <div class="row" ng-click="$ctrl.saveCurrentDashboard()">
            <div class="new-dashboard">
                <i translate>New dashboard</i>
            </div>
            <div class="icon-container show-on-parent-hover">
                <span class="fa fa-plus fa-lg"></span>
            </div>
        </div>
    </div>
</div>

